body {
	font-size: 10px;
	* {
		font-size: 1rem;
	}
}

h1 {
	font-size: 2rem;
}

.table {
	border-collapse: collapse;
	display: table;
	margin: auto;
	.th, .tr {
		display: table-row;
	}
	.td {
		border: 1px solid #aaa;
		display: table-cell;
		padding: 10px 15px;
	}
	.code {
		font-family: 'Source Code Pro', sans-serif;
		background-color: #eee;
		font-size: .9rem;
	}
	.k-progress {
		margin: 0;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		.k-progress-outer {
			padding: 0;
		}
	}
	.c-page {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: center;
	  padding-left: 0;
	  list-style: none;
	  border-radius: 0.25rem;
	  li {
	  	margin-bottom: 10px;
	    a {
	      cursor: pointer;
	      position: relative;
		    display: inline-flex;
		    align-items: center;
		    justify-content: center;
		    width: 2rem;
		    height: 2rem;
		    border-radius: 50%;
		    text-align: center;
		    font-size: .8rem;
		    line-height: 1.25;
		    color: #aaa;
		    font-weight: 500;
		    margin: 0 5px;
		    background-color: #fff;
		    border: 1px solid #aaa;
		    position: relative;
		    padding-bottom: 0.08em;
		    &:focus {
		      z-index: 2;
		      outline: 0;
		    }
	    }
	    &.disabled {
	      a {
	        cursor: auto;
	      }
	      span {
	        filter: opacity(0.5);
	      }
	    }
	    &.active {
	    	a {
	    		color: #000;
	    		border-color: #000;
	    	}
	    }
	  }
	}
	.btn.btn-default {
		cursor: pointer;
		border: 1px solid #aaa;
		border-radius: 5px;
		padding: 5px 10px;
	}
}