<template>
  <div class="hello">
    <div class="table">
      <div class="th">
        <div class="td">Library Name</div>
        <div class="td">Document</div>
        <div class="td">How to install</div>
        <div class="td">How to import</div>
        <div class="td">How to use</div>
        <div class="td">Demo</div>
      </div>
      <div class="tr">
        <div class="td">VueCal</div>
        <div class="td">
          <a href="https://antoniandre.github.io/vue-cal/">https://antoniandre.github.io/vue-cal/</a>
          <p>A Vue JS full calendar, no dependency, no BS.</p>
        </div>
        <div class="td code">npm i vue-cal</div>
        <div class="td code">
          import VueCal from 'vue-cal'<br>
          import 'vue-cal/dist/vuecal.css'
        </div>
        <div class="td code">
          &lt;vue-cal hide-view-selector :time="false" active-view="month" xsmall class="vuecal--rounded-theme vuecal--blue-theme"&gt;&lt;/vue-cal&gt;
        </div>
        <div class="td">
          <div style="width: 250px">
            <vue-cal hide-view-selector :time="false" active-view="month" xsmall class="vuecal--rounded-theme vuecal--blue-theme">
            </vue-cal>
          </div>
        </div>
      </div>
      <div class="tr">
        <div class="td">DatePicker</div>
        <div class="td">
          <a href="https://www.npmjs.com/package/vue2-datepicker/">https://www.npmjs.com/package/vue2-datepicker/</a>
          <p>A Datepicker Component For Vue2</p>
        </div>
        <div class="td code">npm i vue2-datepicker</div>
        <div class="td code">
          import DatePicker from 'vue2-datepicker'<br>
          import 'vue2-datepicker/index.css'
        </div>
        <div class="td code">
          &lt;date-picker v-model="time1"&gt;&lt;/date-picker&gt;
        </div>
        <div class="td">
          <date-picker v-model="time1"></date-picker>
        </div>
      </div>
      <div class="tr">
        <div class="td">Treeselect</div>
        <div class="td">
          <a href="https://vue-treeselect.js.org/">https://vue-treeselect.js.org/</a>
          <p>vue-treeselect is a multi-select component with nested options support for Vue.js.</p>
        </div>
        <div class="td code">npm i @riophae/vue-treeselect</div>
        <div class="td code">
          import Treeselect from '@riophae/vue-treeselect'<br>
          import '@riophae/vue-treeselect/dist/vue-treeselect.css'
        </div>
        <div class="td code">
          &lt;treeselect v-model="value" :multiple="true" :options="options" /&gt;
        </div>
        <div class="td">
          <div style="width: 250px">
            <treeselect v-model="value" :multiple="true" :options="options" />
          </div>
        </div>
      </div>
      <div class="tr">
        <div class="td">Multiselect</div>
        <div class="td">
          <a href="https://vue-multiselect.js.org/">https://vue-multiselect.js.org/</a>
          <p>The most complete selecting solution for Vue.js</p>
        </div>
        <div class="td code">npm install vue-multiselect --save</div>
        <div class="td code">
          import Multiselect from 'vue-multiselect'<br>
          import 'vue-multiselect/dist/vue-multiselect.min.css'
        </div>
        <div class="td code">
          &lt;multiselect v-model="value2" :options="options2" :searchable="false" :close-on-select="false" placeholder="Pick a value&gt;&lt;/multiselect&gt;
        </div>
        <div class="td">
          <multiselect v-model="value2" :options="options2" :searchable="false" :close-on-select="false" placeholder="Pick a value"></multiselect>
        </div>
      </div>
      <div class="tr">
        <div class="td">KProgress</div>
        <div class="td">
          <a href="https://www.npmjs.com/package/k-progress/">https://www.npmjs.com/package/k-progress/</a>
          <p>A Vue plugin, linear progress bar.</p>
        </div>
        <div class="td code">npm install k-progress --save</div>
        <div class="td code">import KProgress from 'k-progress'</div>
        <div class="td code">
          &lt;k-progress type="line" :percent="80" :show-text="false" color="#409eff" bg-color="rgb(235, 238, 245)" :line-height="10" :active="true"&gt;&lt;/k-progress&gt;
        </div>
        <div class="td">
          <k-progress 
            type="line"
            :percent="80" :show-text="false" color="#409eff" bg-color="rgb(235, 238, 245)" :line-height="10" :active="true">
          </k-progress>
          <k-progress 
            type="line"
            :percent="50" :show-text="false" color="#f56c6c" bg-color="rgb(235, 238, 245)" :line-height="10" :active="true">
          </k-progress>
        </div>
      </div>
      <div class="tr">
        <div class="td">Paginate</div>
        <div class="td">
          <a href="https://www.npmjs.com/package/vuejs-paginate/">https://www.npmjs.com/package/vuejs-paginate/</a>
          <p>A Vue.js(v2.x+) component to make pagination</p>
        </div>
        <div class="td code">npm install vuejs-paginate --save</div>
        <div class="td code">import Paginate from 'vuejs-paginate'</div>
        <div class="td code">
          &lt;paginate :page-count="4" :click-handler="functionName" :prev-text="'Prev'" :next-text="'Next'" :container-class="'c-page'" :page-class="'c-page__item'"&gt;&lt;/paginate&gt;
        </div>
        <div class="td">
          <paginate
            :page-count="4"
            :click-handler="functionName"
            :prev-text="'Prev'"
            :next-text="'Next'"
            :container-class="'c-page'" :page-class="'c-page__item'">
          </paginate>
        </div>
      </div>
      <div class="tr">
        <div class="td">JsonExcel</div>
        <div class="td">
          <a href="https://www.npmjs.com/package/vue-json-excel/">https://www.npmjs.com/package/vue-json-excel/</a>
          <p>Download your JSON data as an Excel file directly from the browser.</p>
        </div>
        <div class="td code">npm install vue-json-excel --save</div>
        <div class="td code">import JsonExcel from "vue-json-excel";</div>
        <div class="td code">
          &lt;download-excel class="btn btn-default" :data="json_data" :fields="json_fields" worksheet="My Worksheet" name="filename.xls" &gt;Download Excel&lt;/download-excel&gt;
        </div>
        <div class="td">
          <download-excel
            class="btn btn-default"
            :data="json_data"
            :fields="json_fields"
            worksheet="My Worksheet"
            name="filename.xls"
          >
            Download Excel
          </download-excel>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data() {
    return {
      time1: null,
      value: null,
      value2: null,
      options: [
        {
          id: 'a',
          label: 'a',
          children: [ {
            id: 'aa',
            label: 'aa',
          }, {
            id: 'ab',
            label: 'ab',
          } ],
        }, {
          id: 'b',
          label: 'b',
          children: [ {
            id: 'ba',
            label: 'ba',
          }, {
            id: 'bb',
            label: 'bb',
          } ],
        }, {
          id: 'c',
          label: 'c',
        }
      ],
      options2: ['Select option', 'options', 'selected', 'mulitple', 'label', 'searchable', 'clearOnSelect', 'hideSelected', 'maxHeight', 'allowEmpty', 'showLabels', 'onChange', 'touched'],
      json_data: [
        {
          name: "Tony Peña",
          city: "New York",
          country: "United States",
          birthdate: "1978-03-15",
          phone: {
            mobile: "1-541-754-3010",
            landline: "(541) 754-3010",
          },
        },
        {
          name: "Thessaloniki",
          city: "Athens",
          country: "Greece",
          birthdate: "1987-11-23",
          phone: {
            mobile: "+1 855 275 5071",
            landline: "(2741) 2621-244",
          },
        },
      ],
      json_fields: {
        "Complete name": "name",
        City: "city",
        Telephone: "phone.mobile",
        "Telephone 2": {
          field: "phone.landline",
          callback: (value) => {
            return `Landline Phone - ${value}`;
          },
        },
      },
    }
  },
  methods: {
    functionName: function(pageNum) {
      alert('Page ' + pageNum + ' event');
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import '@/assets/css/style.scss'
</style>
