<template>
  <div id="app">
    <h1>
      Some good libraries for Vue<br>
      <a href="https://bitbucket.org/VTOcean/vue-demo-03/src/master/">https://bitbucket.org/VTOcean/vue-demo-03/src/master/</a>
    </h1>
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'

export default {
  name: 'App',
  components: {
    HelloWorld
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
